* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#canvas {
    position: absolute;
}

#video {
    border: 1px solid black;
}
